folder-hook 'imap.gmail.com' 'source ~/.mutt/account_gmail'
folder-hook 'mail.example.com' 'source ~/.mutt/account_example'

macro index <f2> '<sync-mailbox><enter-command>source ~/.mutt/account_gmail<enter><change-folder>!<enter>'
macro index <f3> '<sync-mailbox><enter-command>source ~/.mutt/account_example<enter><change-folder>!<enter>'

mailboxes               "imaps://imap.gmail.com/INBOX"
mailboxes               "imaps://imap.gmail.com/[Gmail]/Sent Mail"
mailboxes               "imaps://imap.gmail.com/[Gmail]/Drafts"
mailboxes               "imaps://imap.gmail.com/[Gmail]/Spam"
mailboxes               " "
mailboxes               "imaps://mail.exmaple.com/INBOX"
mailboxes               "imaps://mail.exmaple.com/spam"

