---
- name: setup apt repositories
  template: src=sources.list.j2
            dest=/etc/apt/sources.list
  register: apt_repositories
- name: update apt repositories
  apt: update_cache=yes
  when: apt_repositories.changed
- name: refresh apt repositories
  apt: update_cache=yes
       cache_valid_time=3600
